<?xml version="1.0"?>
<config>
    <global>
        <install>
            <date><![CDATA[Sat, 11 Apr 2015 12:33:05 +0000]]></date>
        </install>
        <crypt>
            <key><![CDATA[${ENCRYPTIONKEY}]]></key>
        </crypt>
        <disable_local_modules>false</disable_local_modules>
        <resources>
            <db>
                <table_prefix><![CDATA[]]></table_prefix>
            </db>
            <default_setup>
                <connection>
                    <host><![CDATA[${MYSQL_HOST}]]></host>
                    <username><![CDATA[${MYSQL_USER}]]></username>
                    <password><![CDATA[${MYSQL_PASSWORD}]]></password>
                    <dbname><![CDATA[${MYSQL_DATABASE}]]></dbname>
                    <initStatements><![CDATA[SET NAMES utf8]]></initStatements>
                    <model><![CDATA[mysql4]]></model>
                    <type><![CDATA[pdo_mysql]]></type>
                    <pdoType><![CDATA[]]></pdoType>
                    <active>1</active>
                </connection>
            </default_setup>
        </resources>
        <session_save>db</session_save>
        <redis_session>
            <host>redissession</host>
            <port>6379</port>
            <password></password>
            <timeout>2.5</timeout>
            <persistent></persistent>
            <db>0</db>
            <compression_threshold>2048</compression_threshold>
            <compression_lib>gzip</compression_lib>
            <log_level>1</log_level>
            <max_concurrency>6</max_concurrency>
            <break_after_frontend>5</break_after_frontend>
            <break_after_adminhtml>30</break_after_adminhtml>
            <bot_lifetime>7200</bot_lifetime>
            <disable_locking>0</disable_locking>
        </redis_session>
        <cache>
            <backend>Mage_Cache_Backend_Redis</backend>
            <backend_options>
                <server>rediscache</server>
                <port>6379</port>
                <persistent></persistent>
                <db>0</db>
                <password></password>
                <force_standalone>0</force_standalone>
                <connect_retries>1</connect_retries>
                <read_timeout>10</read_timeout>
                <automatic_cleaning_factor>0</automatic_cleaning_factor>
                <compress_data>1</compress_data>
                <compress_tags>1</compress_tags>
                <compress_threshold>20480</compress_threshold>
                <compression_lib>gzip</compression_lib>
                <use_lua>0</use_lua>
            </backend_options>
        </cache>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <frontName><![CDATA[${ADMIN_FRONTNAME}]]></frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <web>
            <unsecure>
                <base_url>http://${DOMAIN}/</base_url>
                <base_link_url>http://${DOMAIN}/</base_link_url>
                <base_skin_url>http://${DOMAIN}/skin/</base_skin_url>
                <base_media_url>http://${DOMAIN}/media/</base_media_url>
                <base_js_url>http://${DOMAIN}/js/</base_js_url>
            </unsecure>
            <secure>
                <use_in_frontend>0</use_in_frontend>
                <use_in_adminhtml>1</use_in_adminhtml>
                <base_url>https://${DOMAIN}/</base_url>
                <base_link_url>https://${DOMAIN}/</base_link_url>
                <base_skin_url>https://${DOMAIN}/skin/</base_skin_url>
                <base_media_url>https://${DOMAIN}/media/</base_media_url>
                <base_js_url>https://${DOMAIN}/js/</base_js_url>
            </secure>
            <cookie>
                <domain_path>${DOMAIN}</domain_path>
            </cookie>
        </web>
        <currency>
            <options>
                <default>EUR</default>
                <allow>EUR</allow>
            </options>
        </currency>
        <jeroenvermeulen_solarium>
            <general>
                <enabled>1</enabled>
            </general>
            <server>
                <host>solr</host>
                <port>8983</port>
                <path>/solr</path>
                <core>collection1</core>
            </server>
        </jeroenvermeulen_solarium>
        <dev>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
            <log>
                <active>1</active>
            </log>
        </dev>
    </default>
    <stores>
    </stores>
</config>
